.bg-sticky {
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 1;
  svg {
    width: 100%;
  }
}
.about {
  padding: 5rem 3rem 9rem;
  @include mw-768 {
    padding: 5rem 0rem 9rem;
  }
  &__title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  &__content {
    font-weight: 500;
    line-height: 1.75rem;
    letter-spacing: 0.02rem;
    text-align: center;
    color: #a8bfcc;
    strong {
      color: $color-2;
      font-weight: 700;
    }
  }
}
.pdb-5 {
  padding-bottom: 8rem;
}
.mrb-5 {
  margin-bottom: 5rem;
}
.top-product {
  padding: 5rem 4rem;
  &__title {
    font-weight: 700;
    font-size: 2.25rem;
    margin: 4rem 0;
    text-align: center;
  }
  &__img {
    img {
      width: 100%;
    }
  }
  &__content {
    color: #a8bfcc;
    font-weight: 700;
    line-height: 1.75rem;
    letter-spacing: 0.015rem;
    span {
      color: $color-2;
    }
  }
  &__link {
    a {
      margin-right: 2rem;
    }
  }
}
.btn {
  display: inline-block;
  padding: 10px;
  &--showMore {
    border: solid 2px $color-2;
    padding: 10px 50px;
    border-radius: 50px;
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    &:hover {
      background-color: $color-2;
      @extend .tran;
    }
  }
}
.title-h1 {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.15rem;
}
.content-h2 {
  font-size: 1rem;
  text-align: center;
  font-weight: 300;
}
.desk-view {
  width: 100%;
}
.service {
  cursor: pointer;
  &:hover {
    @extend .tran;
    svg {
      fill: $color-2;
    }
  }
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    text-align: center;
  }
  &__title {
    margin: 1.5rem 0;
    opacity: 0.8;
  }
  i {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    border-radius: 0.75rem;
    border: solid 1px $border;
  }
}
.experience {
  position: relative;
  &:hover {
    @extend .tran;
    .experience-item {
      &::after {
        background: $color-2;
      }
    }
  }
  &-item {
    padding-left: 100px;
    &::before {
      content: "";
      width: 1px;
      border-left: 1px solid $border;
      height: 100%;
      position: absolute;
      left: 78px;
      top: 5px;
    }
    &::after {
      content: "";
      width: 19px;
      height: 19px;
      background: #ccc;
      border: 5px solid #0d1726;
      border-radius: 10px;
      position: absolute;
      left: 70px;
      top: 2px;
    }
  }
  &-date {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 13px;
    text-align: right;
    width: 60px;
  }
  &-company {
    font-weight: 700;
    font-size: 16px;
  }
  &-title {
    font-weight: 400;
    color: #4c9dd6;
    text-transform: uppercase;
    font-size: 13px;
  }
  &-desc {
    font-size: 13px;
    // opacity: 0.8;
    margin-bottom: 2rem;
    font-weight: 300;
  }
}
.tool {
  padding: 1rem 0.5rem 1rem 1rem;
  display: flex;
  align-items: center;
  border-bottom: solid 1px $border;
  color: $text1;
  &:hover {
    @extend .tran;
    text-decoration: none;
    color: $text1;
    background-color: #01284e;
  }
  .img {
    background-color: #000813;
    border-radius: 4px;
    padding: 0.25rem;
    width: 40px;
    height: 40px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .fluid-w {
    margin-left: 10px;
    width: calc(100% - 50px);
    p {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.15;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
    .desc {
      font-size: 13px;
      font-weight: 300;
    }
  }
}
.modal {
  &-xl {
    width: 100%;
    height: 100%;
    div > div {
      align-items: flex-end !important;
    }
  }
  &-body {
    overflow-y: scroll;
    height: 100%;
    padding: 0 5rem;
    position: relative;
    @include mw-768 {
      padding: 0;
    }
    .btn--close {
      position: fixed;
      top: -45px;
      right: 10px;
      svg {
        fill: #fff;
      }
    }
    .img {
      img {
        width: 100%;
        height: 100%;
      }
    }
    .action {
      position: fixed;
      top: 20%;
      right: 30px;
      list-style: none;
      @include mw-768 {
        bottom: 10px;
        top: auto;
      }
      li {
        margin-bottom: 1rem;
      }
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #ddd;
        font-size: 11px;

        &:hover {
          @extend .tran;
          color: $color-2;
          text-decoration: none;
          i {
            border: solid 1px $color-2;
          }
        }
      }
      i {
        border-radius: 4px;
        width: 40px;
        height: 40px;
        border: solid 1px #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mw-768 {
          background: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}
.portfolio {
  margin-bottom: 2rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.5s ease;
  &:hover {
    h2 {
      transition: 0.5s ease;
      opacity: 1;
    }
  }
  &_img {
    width: 100%;
    height: 250px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &_title {
    position: absolute;
    bottom: 0;
    padding: 1rem 1rem 0 1rem;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.8) 100%
    );
    width: 100%;
    h2 {
      opacity: 0;
      font-size: 20px;
      position: relative;
    }
  }
}
.title-about {
  position: relative;
  margin-bottom: 2rem;
  &::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: -12px;
    width: 120px;
    height: 20px;
    z-index: -1;
    background-color: #000814;
    opacity: 1;
  }
}
.communication {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  a {
    color: #ddd;
    opacity: 0.5;
    i {
      border-radius: 4px;
      width: 40px;
      height: 40px;
      border: solid 1px #ddd;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:hover {
      @extend .tran;
      color: $color-2;
      text-decoration: none;
      opacity: 1;
      i {
        border: solid 1px $color-2;
      }
    }
  }
  a + a {
    margin-left: 1rem;
  }
}
