
header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 8, 20, 0.9);
  z-index: 1000;
}
.header {
  // padding:1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  padding-right: 4rem;
  padding-left: 4rem;
  margin-right: auto;
  margin-left: auto;

  @include mw-768 {
    display: block;
    padding: 1rem;
    text-align: center;
    height: 50px;
  }
  &-logo {
    color: $color-2;
    text-transform: uppercase;
    font-weight: 900;
  }
  .desktop {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    @include mw-768 {
      display: none;
    }
    li {
      padding: 1.5rem;
      a {
        color: #fff;
        font-weight: 700;
        opacity: 0.7;
        font-size: 1.25rem;
        &:hover {
          text-decoration: none;
          opacity: 1;
        }
      }
      .active {
        color: $color-2;
        font-weight: 900;
        opacity: 1;
      }
    }
  }
  .btn--close {
    display: none;
    background-color: transparent;
    border: none;
    @include mw-768 {
      display: block;
      position: absolute;
      top: 0;
      right: 0px;
    }
  }
  .mobile {
    position: absolute;
    top: 0;
    display: none;
    list-style: none;
    padding: 0;
    background: rgba(0, 8, 20, 0.9);
    left: -50%;
    width: 50%;
    height: 100vh;
    padding-top: 3rem;
    z-index: 900;
    @include mw-768 {
      display: block;
    }
    li {
      text-align: left;
      padding: 1rem;
      padding-left: 2rem;
      a {
        color: #fff;
        font-weight: 700;
        opacity: 0.7;
        font-size: 1.25rem;
        &:hover {
          text-decoration: none;
          opacity: 1;
        }
      }
      .active {
        color: $color-2;
        font-weight: 900;
        opacity: 1;
      }
    }
  }
  .active {
    // left: 0;
    transform: translate3d(100%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  }
}