.bg-pattern-circuit {
  background-image: url(/images/circuit-board.svg);
  padding-top: 8rem;
  padding-bottom: 10rem;
  border-bottom: solid 3px $color-2;
  margin-bottom: 2rem;
  background-color: #000814;
  position: relative;
  @include mw-768 {
    // padding: 1rem;
  }
  .content {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 3rem;
    @include mw-1200 {
      padding: 1rem;
      width: 100%;
    }
    h2,
    h1 {
      font-weight: 900;
      font-size: 2.25rem;
      letter-spacing: 0.05em;
      background: linear-gradient(
        264.51deg,
        #a5fecb 4.38%,
        #20bdff 11.51%,
        #5433ff 25.06%,
        #5433ff 36.04%
      );
      background-size: 500%;
      background-position: 100% 50%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: 4rem;
      text-align: center;
      @include mw-768 {
        font-size: 1.25rem;
        line-height: 2.5rem;
      }
    }
    span {
      transition-property: background-color, border-color, color, fill, stroke;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 0.15s;
      background-color: rgba(150, 217, 255, 0.25);
      border-radius: 50px;
      font-size: 2rem;
      padding: 0.25rem 1rem;
      font-weight: 700;
      @include mw-768 {
        font-size: 1rem;
      }
    }
    
  }
  .btn--download{
    color:  $color-2;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}