.playControls {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000813;
  .control-audio {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    flex-direction: row-reverse;

    .control-button {
      display: flex;
      @include mw-768 {
        justify-content: center;
      }
      .btn {
        cursor: pointer;
      }
    }
    .time {
      width: 100%;
      @include mw-768 {
        display: none;
        padding: 0;
      }
    }
    .volume {
      position: relative;
      cursor: pointer;
      &:hover {
        .volume-control {
          display: block;
        }
      }
      &-control {
        display: none;
        position: absolute;
        flex-direction: row-reverse;
        bottom: 35px;
        left: 10px;
        width: 100px;
        padding: 10px;
        background: rgba(0, 8, 20, 0.9);
        z-index: 800;
        .volume-slider {
          position: relative;
          width: 100%;
        }
      }
      &-btn {
        @include mw-768 {
          display: none;
        }
      }
    }
  }
  .name-audio {
    padding:0.5rem 1rem;
    @include mw-768 {
      padding-left: 0;
      padding-right: 0;
    }
    .song-title {
      font-size: 18px;
      @include mw-768 {
        font-size: 1rem;
      }
    }
    .singer {
      font-weight: 300;
      margin: 0;
      @include mw-768 {
        font-size: 0.75rem;
      }
    }
  }
}
