@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap");
@import "mixins";
body {
  background-color: #0d1726;
  font-family: Inter, Helvetica, Arial, sans-serif;
  color: #ddd;
  font-size: 14px;
}
.container {
  max-width: 1440px;
  padding-right: 4rem;
  padding-left: 4rem;
  @include mw-768 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.tran {
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.text-center {
  text-align: center;
}
.desktop {
  display: block;
  @include mw-768 {
    display: none;
  }
}
.mobile {
  display: none;
  @include mw-768 {
    display: block;
  }
}
.btn {
  display: inline-block;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: none;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
@for $i from 10 through 50 {
  .fs-#{$i} {
    font-size: #{$i}px;
  }
}
@for $i from 1 through 50 {
  .w-#{$i} {
    width: #{$i}+ "%";
  }
}
a {
  color: #ddd;
  &:hover {
    @extend .tran;
    color: $color-2;
    text-decoration: none;
  }
}
