$color-1: #5433ff;
$color-2: #20bdff;
$color-3: #a5fecb;

$text1: #ddd;
$text2: #717e93;
$text3: #333;
$text4: #333;
$border: #01284e;
.text1 {
  color: $text1;
}
.text2 {
  color: $text2;
}
.text3 {
  color: $text3;
}
.text4 {
  color: $text4;
}
