.footer {

  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_img {
    margin-left: 0.5rem;
  height: 1em;
    
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.footerLogo {
  height: 1em;
}